/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
body {
  font-family: "Brandon Grotesque", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  border-top: 20px solid #F38630; }

a {
  text-decoration: none;
  color: #F38630;
  border-bottom: 1px dotted #ccc;
  transition: color 0.3s ease; }
  a:hover {
    color: #000; }

p {
  margin-bottom: 20px;
  margin-top: 0; }

section {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  section:before, section:after {
    content: '';
    display: table; }
  section:after {
    clear: both; }

header {
  margin-top: 20px;
  margin-bottom: 20px; }
  header a {
    border-bottom: 0; }
  header .logo {
    width: 120px;
    height: 36px;
    vertical-align: bottom; }
  header h1 {
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #666; }
  header .tagline {
    float: right;
    font-style: italic;
    margin-top: 5px; }

.hero {
  width: 100%;
  margin-bottom: 20px; }

article {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 74.25%;
  margin-left: 0%;
  margin-right: 3%; }
  article:before, article:after {
    content: '';
    display: table; }
  article:after {
    clear: both; }
  article:last-child {
    margin-right: 0%; }
  article h2 {
    margin-top: 0; }
  article img.inline.right {
    float: right; }
  article iframe {
    width: 100%;
    border: 0;
    margin-bottom: 20px; }
  article .navigation {
    border-top: 1px solid #ccc;
    padding-top: 20px; }
  article a.navbutton {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    font-weight: 700;
    border-bottom: 0;
    color: #000; }
    article a.navbutton:before, article a.navbutton:after {
      content: '';
      display: table; }
    article a.navbutton:after {
      clear: both; }
    article a.navbutton:last-child {
      margin-right: 0%; }
    article a.navbutton:hover h2 {
      color: #000; }
    article a.navbutton.next {
      text-align: right; }
    article a.navbutton h2 {
      transition: color 0.3s ease;
      color: #F38630;
      font-weight: 400;
      margin-bottom: 0; }

aside {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 1.2em; }
  aside:before, aside:after {
    content: '';
    display: table; }
  aside:after {
    clear: both; }
  aside:last-child {
    margin-right: 0%; }
  aside h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.5em;
    font-weight: 900; }
  aside a {
    border-bottom: 0; }
    aside a.active {
      color: #666; }
      aside a.active:hover {
        cursor: none; }

footer {
  background-color: #333;
  height: 180px;
  margin-top: 20px; }
  footer .footer-wrap {
    *zoom: 1;
    width: auto;
    max-width: 960px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    footer .footer-wrap:before, footer .footer-wrap:after {
      content: '';
      display: table; }
    footer .footer-wrap:after {
      clear: both; }
    footer .footer-wrap div {
      padding-top: 20px;
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 31.33333%;
      margin-left: 0%;
      margin-right: 3%; }
      footer .footer-wrap div:before, footer .footer-wrap div:after {
        content: '';
        display: table; }
      footer .footer-wrap div:after {
        clear: both; }
      footer .footer-wrap div:last-child {
        margin-right: 0%; }
      footer .footer-wrap div h3 {
        color: #F38630;
        text-transform: uppercase;
        font-size: 0.8em;
        margin-bottom: 0; }
      footer .footer-wrap div p {
        color: #999;
        font-size: 0.8em;
        margin-top: 0; }
        footer .footer-wrap div p a:hover {
          color: #fff; }
