@import 'jeet/index';

@font-face {
  font-family: "Woodford Bourne";
  src:  url('../fonts/woodfordbourne-regular-webfont.woff2') format('woff2'),
        url('../fonts/woodfordbourne-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: "Woodford Bourne";
  font-weight: 700;
  src:  url('../fonts/woodfordbourne-bold-webfont.woff2') format('woff2'),
        url('../fonts/woodfordbourne-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: "Woodford Bourne";
  font-style: italic;
  src:  url('../fonts/woodfordbourne-italic-webfont.woff2') format('woff2'),
        url('../fonts/woodfordbourne-italic-webfont.woff') format('woff');
}

body {
  font-family: "Woodford Bourne", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  border-top: 20px solid #F38630;
}

a {
  text-decoration: none;
  color: #F38630;
  border-bottom: 1px dotted #ccc;
  transition: color 0.3s ease;
  &:hover {
    color: #000;
  }
}

p {
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.5;
}

section {
  @include center(960px);
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
  a {
    border-bottom: 0;
  }
  .logo {
    width: 120px;
    height: 36px;
    vertical-align: bottom;
  }
  h1 {
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #666;
  }
  .tagline {
    float: right;
    font-style: italic;
    margin-top: 8px;
  }
}

.hero {
  width: 100%;
  margin-bottom: 20px;
}

article {
  @include column(3/4);
  h2 {
    margin-top: 0;
  }
  img {
    &.inline.right {
      float: right;
    }
  }
  iframe {
    width: 100%;
    border: 0;
    margin-bottom: 20px;
  }
  .navigation {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  a.navbutton {
    @include column(1/2);
    font-weight: 700;
    border-bottom: 0;
    color: #000;
    &:hover {
      h2 {
        color: #000;
      }
    }
    &.next {
      text-align: right;
    }
    &.inactive {
    }
    h2 {
      transition: color 0.3s ease;
      color: #F38630;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

aside {
  @include column(1/4);
  font-size: 1.2em;
  h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.5em;
    font-weight: 700;
  }
  a {
    border-bottom: 0;
    &.active {
      color: #666;
      &:hover {
        cursor: none;
      }
    }
  }
}

footer {
  background-color: #333;
  height: 180px;
  margin-top: 20px;
  .footer-wrap {
    @include center(960px);
    div {
      padding-top: 20px;
      @include column(1/3);
      h3 {
        color: #F38630;
        text-transform: uppercase;
        font-size: 0.8em;
        margin-bottom: 0;
      }
      p {
        color: #999;
        font-size: 0.8em;
        margin-top: 0;
        a:hover {
          color: #fff;
        }
      }
    }
  }
}
