---
layout: default
---
<h2>{{ page.title }}</h2>
<div class="post">
{{ content }}
</div>
<div class="navigation">
  {% if page.previous %}
    <a class="navbutton prev" href="{{ page.previous.url | prepend: site.baseurl }}">
      &laquo; Previous section<br>
      <h2>{{ page.previous.title }}</h2>
    </a>
  {% else %}
    <a class="navbutton inactive">
      &nbsp;
    </a>
  {% endif %}
  {% if page.next %}
    <a class="navbutton next" href="{{ page.next.url | prepend: site.baseurl }}">
      Next section &raquo;<br>
      <h2>{{ page.next.title }}</h2>
    </a>
  {% endif %}
</div>